
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.body-color{
    background-color: rgb(245, 239, 231);
    /* background-image: url(../src/assets/images/green.webp); */
    
}
.human-font{
    /* font-family: 'Times New Roman', Times, serif;*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    letter-spacing: -0.055em;
    line-height: 110px;
    font-weight: 400;
    font-size: 120px;
}

.spacing-class{
    letter-spacing: -0.055em;
    
}
.logo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: -0.09em;
    font-weight: 500;
    font-size: 40px;
    
}

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid #f1f2ff;
    animation: spinner-bulqg1 0.8s infinite linear alternate,
      spinner-oaa3wk 1.6s infinite linear;
  }